debug
release
Debug
Release
eviltemple.log
converter.log
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*.user
*.vcproj.*.user
_ReSharper*
*.resharper.user
*.ncb
_UpgradeReport_Files
UpgradeLog*.XML
*.Release
*.Debug
Makefile.Debug
Makefile.Release
vc*.pdb
vc*.idb
*.sdf
*.sln
*.suo
*.vcxproj
*.vcproj
Makefile
*.pro.user
*.pro.user.*
*.qmlproject.user
*.qmlproject.user.*
ipch
ui_*.h
stable.h.cpp
*.o
bin
scratch
staging
tools/dist
data/art
