debug
release
*.vcxproj.filters
*.vcxproj.user
*.Release
*.Debug
Makefile.Debug
Makefile.Release
vc100.pdb
*.sdf
*.sln
*.suo
*.vcxproj
*.vcproj
Makefile
*.pro.user
ipch
interface/art
interface/fonts
ui_*.h
*.o
