QLineEdit, QTextEdit {
    background: transparent;
    border: none;
    color: white;
    padding: 2px;
    font-family: consolas;
    margin: 0;
}

QScrollBar {
    background: transparent;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;
}

QScrollBar::up-arrow:vertical {
    image: url(:/console/up.png);
}

QScrollBar::down-arrow:vertical {
    image: url(:/console/down.png);
}
